* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    height: 60px; /* Ensure a consistent height */
  }

.sign-out {
    background-color: rgba(255, 255, 255, 0.550);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.sign-out:hover {
    background-color: rgba(255, 255, 255, 0.750);
  }

.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:10px;
    background-image: url("./assets/backgroundblurred.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
}
.attendance, .leaderboard, .streaks{
    padding: 20px;
  /* border-style: dashed; */
  margin:20px;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
flex:1;
background-color: rgba(255, 255, 255, 0.135);

}
.headerDiv{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content:center;
align-items: center;}