/* highlights every second row */
tr:nth-child(even) {
  background-color: rgb(157, 149, 146);
}

tr:hover {
  background-color: coral;
}

thead,
td {
  border: 1px solid;
}
thead {
  color: rgb(43, 113, 226);
}
table {
  border-collapse: collapse;
  text-align: center;
  margin: 10px;
  width: 400px;
}
